/* Main settings to all pages */

* {
   font-family: 'Times New Roman', Times, serif;
   padding: 0;
   margin: 0;
}

body {
   margin: auto;
   /* color: white; */
   background-repeat: no-repeat;
   background-color: burlywood;
}

header {
   background-color: burlywood;
   padding: 2%;
   margin: 2%;

}

.topnav {
   overflow: hidden;
   background-color: bisque;
}

.topnav a {
   float: left;
   display: block;
   color: #000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #ddd;
   color: black;
}

.topnav a.active {
   background-color: bisque;
   color: #000;
}

.topnav .icon {
   display: none;
}

fieldset {
   background-color: bisque;
}

footer {
   margin: 2%;
   padding: 2%;
   text-align: center;
   background-color: bisque;
}

/* End of main settings of all pages */

/* Home Page Settings */

.button {
   padding-top: 20px;
}

.temple-name {
   padding-top: 20px;
}

.btn {
   font-size: 20px;
   border: 1px solid #fff;
   padding: 10px 10px;
   color: #fff;
   text-decoration: none;
   transition: 1s ease;

}

.submit-btn {
   font-size: 20px;
   border: 0.1px solid #fff;
   padding: 2px 10px;
   color: #fff;
   text-decoration: none;
   transition: 1s ease;
   background-color: #000;
   border-radius: 1em;
   text-align: center;
   margin: -2%;
   padding: -2%;

}

#submit-button {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.btn:hover {
   background-color: #ffffff;
   color: #000000;
}

.milestones {
   list-style: none;
   /* width: 90%; */
   font-size: 23px;
   color: #fff;
   /* position: absolute; */
   /* top: 50%; */
   /* left: 50%; */
   /* transform: translate(-50%, -50%); */
   /* text-align: center; */
}

.main-title {
   background-color: rgba(124, 124, 124, 0.4);
   border-radius: 1em;
   list-style: none;
   max-width: 300px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   color: #fff;
   font-size: 5vw;
   padding: 2%;

   /* position: absolute; */
   /* top: 30%; */
   /* left: 50%; */
   /* transform: translate(-50%, -50%); */
}

.title {
   /* display: flex; */
   /* flex-direction: column; */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sao-paulo-temple.jpg);
   /* height: 66vh; */
   background-size: contain;
   background-position: center;
   text-align: center;
   font-size: 10vw;
   padding-top: 30px;
   /* margin-left: auto; */
   /* margin-right: auto; */
}

.welcome {
   margin: 2%;
   padding: 2%;
   background-color: bisque;
   text-align: center;
}

.temple-link {
   text-decoration: none;
   font-size: 17px;
}

/* End of Home Page settings */

/* Temples Page */

main {
   /* max-width: 760px; */
   display: grid;
   grid-template-columns: 1fr;
   font-size: 1rem;
   
}

.main-home {
   display: flex;
   flex-direction: column;
}

main section {
   margin: 1rem;
   border-radius: 1rem;
   padding: 0 1rem;
   background-color: white;
}

.column-image {
   width: 100%;
   border: .2em #252525;
}

.main-container {
   max-width: 767px;
   margin: 1.3em auto 1.3em auto;
   padding: 1.2em;
   border-radius: 1em;
}

.subheader {
   font-size: 1.3em;
}

li {
   list-style: none;
   text-decoration: none;
   padding: 1px;
}

@media only screen and (min-width: 461px) {
   header {
      font-size: 3vw;
   }

   main {
      grid-template-columns: 1fr 1fr;
   }

   main section:nth-child(3) {
      grid-column: span 1;
   }


   .title-header {
      font-size: 1.8rem;
      padding: 1em;
   }
}

@media only screen and (min-width: 1060px) {
   header {
      font-size: 6vw;
   }

   body {
      max-width: 85%;
   }

   main {
      grid-template-columns: 1fr 1fr;
   }

   main section:nth-child(4) {
      grid-column: span 1;
   }

   .title-header {
      font-size: 1.8rem;
      padding: 1em;
      border-radius: 1em;
   }
}

/* End of temple page settings */

/* Contact Page Settings */

.TextareaField-field {
   width: 90%;
   height: 100px;
   min-height: 5px;
   vertical-align: middle;
   padding-left: 5px;
   padding-right: 9.5px;
   margin: 2%;
}

.contact-submit {

   letter-spacing: .3em;
   line-height: 1.3em;
   cursor: pointer;
   font-weight: 700;
   min-width: 130px;
   padding: 12px 20px;
   text-align: center;
   text-transform: uppercase;
   background-color: #000;
   border: 1px solid #000;
   color: #fff;
}


ul button {
   margin-right: auto;
   margin-left: auto;
}

button {
   background: none;
   border-radius: 0;
   margin: 2%;
}

.map {
   margin-right: auto;
   margin-left: auto;
}

/* End Contact Page */

/* Confirmation Page */

#thank-you {
   font-family: Monotype Garamond, Garamond, serif;
   background-color: rgba(124, 124, 124, 0.4);
   border-radius: 1em;
   list-style: none;
   width: 90%;
   color: #fff;
   margin: 2%;
   padding: 0.8em;
   text-align: center;
   display: inline-block;
   font-size: 12px;
}

#thank-you-hours {
   border-radius: 1em;
   list-style: none;
   width: 90%;
   color: #fff;
   margin: 2%;
   padding: 0.8em;
   text-align: center;
   display: inline-block;
   font-size: 20px;
}

/* End of Confirmation Page */

/* Thank you Page */

.confirmation {
   font-family: Monotype Garamond, Garamond, serif;
   background-color: rgba(124, 124, 124, 0.4);
   border-radius: 1em;
   list-style: none;
   width: 90%;
   color: #fff;
   margin: 2%;
   padding: 0.8em;
   text-align: center;
   display: inline-block;
   font-size: 12px;
}


.topnav {
   overflow: hidden;
   background-color: bisque;
 }
 
 .topnav a {
   float: left;
   display: block;
   color: #000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 .topnav a.active {
   background-color: bisque;
   color: black;
 }
 
 .topnav .icon {
   display: none;
 }
 
 @media screen and (max-width: 600px) {
   .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
   }
 }
 
 @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
   .topnav.responsive .icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
 }