* {
   color: white;
}

body {
   max-width: 80%;
   margin: auto;
   /* color: white; */
}

header {
   background-color: rgb(110, 110, 110);
   text-align: center;
}

nav ul {
   display: flex;
   background-color: rgb(110, 110, 110);
   list-style: none;   
}

nav ul a {
   text-align: center;
   /* color: white; */
}

nav ul li {
   flex: 100%;
}